@model IEnumerable<AppModelv2_WebApp_OpenIDConnect_DotNet.Models.Customer>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.No)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Sell_to_Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Search_Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Blocked)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Matter_Count_Active)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.No)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sell_to_Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Search_Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Blocked)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Matter_Count_Active)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
    }

</table>
